<div class="row">
	<div class="col-md-4">
		<h3>Breakfast</h3>
		<em>Pancakes</em>
		<img src="assets/images/oatmealpancake.jpg" alt="Oatmeal Pancake">
		<h4>Ingredients</h4>
		<ul>
		    <li>1/2 cup oatmeal</li>
		    <li>1/2 cup cottage cheese</li>
		    <li>1 teaspoon vanilla</li>
		    <li>4 egg whites</li>
		</ul>
		<h4>Directions</h4>
		<ol>
		    <li>Blend all ingredients in blender.</li>
		    <li>Spray skillet with cooking spray and cook just like"silver dollar" pancakes, a few small ones at a time.</li>
		    <li>Top with your favorite pancake topping!</li>
		<ol>
	</div>
	<div class="col-md-4">
		<h3>Lunch</h3>
		<em>Peanut Butter Cookies</em>
		<img src="assets/images/peanutbuttercookies.jpg" alt="Peanut Butter Cookies">
		<h4>Ingredients</h4>
		<ul>
		    <li>1/2 cup butter</li>
		    <li>1/2 cup peanut butter</li>
		    <li>1/2 cup sugar</li>
		    <li>1/2 cup brown sugar</li>
		    <li>1 egg</li>
		    <li>1/2 teaspoon vanilla</li>
		    <li>1 1/4 cups sifted flour</li>
		    <li>3/4 teaspoon baking soda</li>
		    <li>1/4 teaspoon salt</li>
		</ul>
		<h4>Directions</h4>
		<ol>
		    <li>Preheat oven to 375ยบ.</li>
		    <li>Mix first six ingredients.</li>
		    <li>Add the rest of the ingredients.</li>
		    <li>Mix well.</li>
		    <li>Roll into balls and press d</li>own with a fork dipped in sugar or flour.</li>
		    <li>Bake for 10-12 minutes on ungreased cookie sheet (I usually grease my cookie sheet anyway). Ovens vary so your baking time may be less. Just keep an eye on them.</li>
		</ol>
	</div>
	<div class="col-md-4">
		<h3>Dinner</h3>
		<em>Fried Rice</em>
		<img src="assets/images/friedrice.jpg" alt="Fried Rice">
		<h4>Ingredients</h4>
		<ul>
		    <li>3/4 cup finely chopped onion</li>
		    <li>2 1/2 tablespoons oil</li>
		    <li>1 egg, lightly beaten (or more eggs if you like)</li>
		    <li>3 drops soy sauce</li>
		    <li>3 drops sesame oil</li>
		    <li>8 ounces cooked lean boneless pork or 8 ounces chicken, chopped</li>
		    <li>1/2 cup finely chopped carrot (very small)</li>
		    <li>1/2 cup frozen peas, thawed</li>
		    <li>4 cups cold cooked rice, grains separated (preferably medium grain)</li>
		    <li>4 green onions, chopped</li>
		    <li>2 cups bean sprouts</li>
		    <li>2 tablespoons light soy sauce (add more if you like)</li>
		</ul>
		<h4>Directions</h4>
		<ol>
			<li>Heat 1 tbsp oil in wok; add chopped onions and stir-fry until onions turn a nice brown color, about 8-10 minutes; remove from wok.</li>
			<li>Allow wok to cool slightly.</li>
			<li>Mix egg with 3 drops of soy and 3 drops of sesame oil; set aside.</li>
			<li>Add 1/2 tbsp oil to wok, swirling to coat surfaces; add egg mixture; working quickly, swirl egg until egg sets against wok; when egg puffs, flip egg and cook other side briefly; remove from wok, and chop into small pieces.</li>
			<li>Heat 1 tbsp oil in wok; add selected meat to wok, along with carrots, peas, and cooked onion; stir-fry for 2 minutes.</li>
			<li>Add rice, green onions, and bean sprouts, tossing to mix well; stir-fry for 3 minutes.</li>
			<li>Add 2 tbsp of light soy sauce and chopped egg to rice mixture and fold in; stir-fry for 1 minute more; serve</li>
			<li>Set out additional soy sauce on the table, if desired.</li>
		</ol>
	</div>
</div>