<!doctype html>
<html>
<head>
	<title>Monday</title>
	<meta charset="utf-8">

	 <!-- Latest compiled and minified CSS -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="assets/css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div class="row">
		<div class="col-md-4">
			<h3>Breakfast</h3>
			<em>Grilled Chicken Wrap</em>
			<img src="assets/images/grilledwrap.jpg" alt="Chicken Sandwich">
			<h4>Ingredients</h4>
			<ul>
				<li>1 tablespoon dried parsley, divided</li>
				<li>1 tablespoon dried basil, divided</li>
				<li>4 skinless, boneless chicken breast halves</li>
				<li>4 cloves garlic, thinly sliced</li>
				<li>1/2 teaspoon salt</li>
				<li>1/2 teaspoon crushed red pepper flakes</li>
				<li>2 tomatoes, sliced</li>
			</ul>
			<h4>Directions</h4>
			<ol>
				<li>Preheat overn to 350 degrees F (175 degrees C). Coat a 9x13 inch baking dish with cooking spray.</li>
				<li>Sprinkle 1 teaspoon parsley and 1 teaspoon basil evenly over the bottom of the baking dish. Arrange chicken breast halves in the dish, and sprinkle evenly with garlic slices. In a small bowl, mix the remaining 2 teaspoons parsley, remaining 2 teaspoons basil, salt, and red pepper; sprinkle over the chicken. Top with tomato slices.</li>
				<li>Bake covered in the preheated oven 25 minutes. Remove cover, and continue baking 15 minutes, or until chicken juices run clear.</li>
			<ol>
		</div>
		<div class="col-md-4">
			<h3>Lunch</h3>
			<em>Grilled Tomato and Brie Sandwiches</em>
			<img src="assets/images/cksandwich.jpg" alt="Chicken Sandwiches">
			<h4>Ingredients</h4>
			<ul>
				<li>8 (1-ounce) slices 100% whole-grain bread (about 1/4 inch thick)</li>
				<li>1 teaspoon olive oil</li>
				<li>1 garlic clove, halved </li>
				<li>2 teaspoons country-style Dijon mustard</li>
				<li>4 ounces Brie cheese, thinly sliced</li>
				<li>1 1/3 cups packaged baby arugula and spinach greens (such as Dole)</li>
				<li>8 (1/4-inch-thick) slices beefsteak tomato</li>
				<li>Cooking spray</li>
			</ul>
			<h4>Directions</h4>
			<ol>
				<li>Prepare grill to high heat.</li>

				<li>rush one side of each bread slice with oil; rub cut sides of garlic over oil. Spread 1/2 teaspoon mustard on each of 4 bread slices, oil side down. Top each bread slice with 1 ounce cheese, 1/3 cup greens, and 2 tomato slices. Top each with remaining 4 bread slices, oil side up.</li>

				<li>Place sandwiches on grill rack coated with cooking spray; grill 2 minutes on each side or until lightly toasted and cheese melts.</li>
			</ol>
		</div>
		<div class="col-md-4">
			<h3>Dinner</h3>
			<em>Egg Salad Sandwiches with Bacon</em>
			<img src="assets/images/eggsaladsandwich.jpg" alt="Egg Salad Sandwiches with Bacon">
			<h4>Ingredients</h4>
			<ul>

				<li>2 center-cut bacon slices</li>
				<li>1/3 cup thinly sliced green onions</li>
				<li>2 tablespoons canola mayonnaise</li>
				<li>1 tablespoon plain fat-free yogurt</li>
				<li>1 1/2 teaspoons Sriracha (hot chile sauce, such as Huy Fong)</li>
				<li>1/4 teaspoon freshly ground black pepper</li>
				<li>1/8 teaspoon kosher salt</li>
				<li>6 hard-cooked large eggs, chopped</li>
				<li>2 cups arugula</li>
				<li>8 whole-grain bread slices</li>	
			</ul>
			<h4>Directions</h4>
			<ol>
				<li>Cook bacon in a medium saucepan over medium-high heat 3 minutes or until crisp. Remove bacon from pan; crumble. Place bacon in a large bowl. Stir in onions and next 5 ingredients (through salt). Gently stir in eggs</li>

				<li>Arrange 1/2 cup arugula on each of 4 bread slices. Top each serving with 1/3 cup egg mixture and 1 bread slice</li>
			</ol>
		</div>
	</div>
</body>
</html>