<div class="row">
	<div class="col-md-4">
		<h3>Breakfast</h3>
		<em>Grilled Veggie and Hummus Wrap</em>
		<img src="assets/images/cksandwich.jpg" alt="Chicken Sandwiches">
		<h4>Ingredients</h4>
		<ul>

			<li>4 (1/2-inch-thick) slices red onion</li>
			<li>1 red bell pepper, seeded and quartered</li>
			<li>1 (12-ounce) eggplant, cut into 1/2-inch-thick slices</li>
			<li>2 tablespoons olive oil, divided</li>
			<li>1/4 cup chopped fresh flat-leaf parsley</li>
			<li>1/8 teaspoon kosher salt</li>
			<li>1 (8-ounce) container plain hummus</li>
			<li>4 (1.9-ounce) whole-grain flatbreads (such as Flatout Light)</li>
			<li>1/2 cup crumbled feta cheese</li>
		</ul>
		<h4>Directions</h4>
		<ol>
			<li>Heat a large grill pan over medium-high heat. Brush onion, bell pepper, and eggplant with 1 tablespoon oil. Add onion and bell pepper to pan; cook 3 minutes on each side or until grill marks appear. Remove from pan. Add eggplant to pan; cook 3 minutes on each side or until grill marks appear. Remove from pan; coarsely chop vegetables. Combine vegetables, remaining 1 tablespoon oil, parsley, and salt; toss to combine.</li>

			<li>Spread 1/4 cup hummus over each flatbread, leaving a 1/2-inch border around edges. Divide vegetables over each flatbread; top each serving with 2 tablespoons cheese. Roll up wraps, and cut diagonally in half.</li>

		<ol>
	</div>
	<div class="col-md-4">
		<h3>Lunch</h3>
		<em>Grilled Tomato and Brie Sandwiches</em>
		<img src="assets/images/grilledwrap.jpg" alt="Grilled Wrap">
		<h4>Ingredients</h4>
		<ul>
			<li>8 (1-ounce) slices 100% whole-grain bread (about 1/4 inch thick)</li>
			<li>1 teaspoon olive oil</li>
			<li>1 garlic clove, halved </li>
			<li>2 teaspoons country-style Dijon mustard</li>
			<li>4 ounces Brie cheese, thinly sliced</li>
			<li>1 1/3 cups packaged baby arugula and spinach greens (such as Dole)</li>
			<li>8 (1/4-inch-thick) slices beefsteak tomato</li>
			<li>Cooking spray</li>
		</ul>
		<h4>Directions</h4>
		<ol>
			<li>Prepare grill to high heat.</li>

			<li>rush one side of each bread slice with oil; rub cut sides of garlic over oil. Spread 1/2 teaspoon mustard on each of 4 bread slices, oil side down. Top each bread slice with 1 ounce cheese, 1/3 cup greens, and 2 tomato slices. Top each with remaining 4 bread slices, oil side up.</li>

			<li>Place sandwiches on grill rack coated with cooking spray; grill 2 minutes on each side or until lightly toasted and cheese melts.</li>
		</ol>
	</div>
	<div class="col-md-4">
		<h3>Dinner</h3>
		<em>Egg Salad Sandwiches with Bacon</em>
		<img src="assets/images/eggsaladsandwich.jpg" alt="Egg Salad Sandwiches with Bacon">
		<h4>Ingredients</h4>
		<ul>

			<li>2 center-cut bacon slices</li>
			<li>1/3 cup thinly sliced green onions</li>
			<li>2 tablespoons canola mayonnaise</li>
			<li>1 tablespoon plain fat-free yogurt</li>
			<li>1 1/2 teaspoons Sriracha (hot chile sauce, such as Huy Fong)</li>
			<li>1/4 teaspoon freshly ground black pepper</li>
			<li>1/8 teaspoon kosher salt</li>
			<li>6 hard-cooked large eggs, chopped</li>
			<li>2 cups arugula</li>
			<li>8 whole-grain bread slices</li>	
		</ul>
		<h4>Directions</h4>
		<ol>
			<li>Cook bacon in a medium saucepan over medium-high heat 3 minutes or until crisp. Remove bacon from pan; crumble. Place bacon in a large bowl. Stir in onions and next 5 ingredients (through salt). Gently stir in eggs</li>

			<li>Arrange 1/2 cup arugula on each of 4 bread slices. Top each serving with 1/3 cup egg mixture and 1 bread slice</li>
		</ol>

	</div>
</div>
