<div class="row">
	<div class="col-md-4">
		<h3>Breakfast</h3>
		<em>Pancakes</em>
		<img src="assets/images/pancake.jpg" alt="Pancake">
		<h4>Ingredients</h4>
		<ul>
		    <li>1 egg</li>
		    <li>3/4 cup milk</li>
		    <li>2 tablespoons butter or 2 tablespoons margarine, melted</li>
		    <li>1 cup flour</li>
		    <li>1 tablespoon sugar</li>
		    <li>1 teaspoon baking powder</li>
		    <li>1/2 teaspoon salt</li>

		</ul>
		<h4>Directions</h4>
		<ol>
		    <li>Beat egg until fluffy.</li>
		    <li>Add milk and melted margarine.</li>
		    <li>Add dry ingredients and mix well.</li>
		    <li>Heat a heavy griddle or fry pan which is greased with a little butter on a paper towel.</li>
		    <li>The pan is hot enough when a drop of water breaks into several smaller balls which 'dance' around the pan.</li>
		    <li>Pour a small amount of batter (approx 1/4 cup) into pan and tip to spread out or spread with spoon.</li>
		    <li>When bubbles appear on surface and begin to break, turn over and cook the other side.</li>
		<ol>
	</div>
	<div class="col-md-4">
		<h3>Lunch</h3>
		<em>Over-Fried Chicken Chimichangas</em>
		<img src="assets/images/chim.jpg" alt="Chicken Chimichangas">
		<h4>Ingredients</h4>
		<ul>
		    <li>2/3 cup picante sauce or 2/3 cup your favorite salsa</li>
		    <li>1 teaspoon ground cumin</li>
		    <li>1/2 teaspoon dried oregano leaves, crushed</li>
		    <li>1 1/2 cups cooked chicken, chopped</li>
		    <li>1 cup shredded cheddar cheese</li>
		    <li>2 green onions, chopped with some tops (about 1/4 cup)</li>
		    <li>6 (8 inch) flour tortillas</li>
		    <li>2 tablespoons margarine, melted</li>
		    <li>shredded cheddar cheese, for serving</li>
		    <li>chopped green onion, for serving</li>
		    <li>picante sauce, for serving</li>
		</ul>
		<h4>Directions</h4>
		<ol>
			<li>Mix chicken, picante sauce or salsa, cumin, oregano, cheese and onions.</li>
		    <li>Place about 1/4 cup of the chicken mixture in the center of each tortilla.</li>
		    <li>Fold opposite sides over filling.</li>
		    <li>Roll up from bottom and place seam-side down on a baking sheet.</li>
		    <li>Brush with melted margarine.</li>
		    <li>Bake at 400°F for 25 minutes or until golden.</li>
		    <li>Garnish with additional cheese and green onion and serve salsa on the side.</li>
		</ol>
	</div>
	<div class="col-md-4">
		<h3>Dinner</h3>
		<em>Bourbon Chicken</em>
		<img src="assets/images/bourbonchicken.jpg" alt="Bourbon Chicken">
		<h4>Ingredients</h4>
		<ul>
		    <li>2 lbs boneless chicken breasts, cut into bite-size pieces</li>
		    <li>1 -2 tablespoon olive oil</li>
		    <li>1 garlic clove, crushed</li>
		    <li>1/4 teaspoon ginger</li>
		    <li>3/4 teaspoon crushed red pepper flakes</li>
		    <li>1/4 cup apple juice</li>
		    <li>1/3 cup light brown sugar</li>
		    <li>2 tablespoons ketchup</li>
		    <li>1 tablespoon cider vinegar</li>
		    <li>1/2 cup water</li>
		    <li>1/3 cup soy sauce</li>
		</ul>
		<h4>Directions</h4>
		<ol>
		    <li>Editor's Note: Named Bourbon Chicken because it was supposedly created by a Chinese cook who worked in a restaurant on Bourbon Street</li>
		    <li>Heat oil in a large skillet</li>
		    <li>Add chicken pieces and cook until lightly browned</li>
		    <li>Remove chicken</li>
		    <li>Add remaining ingredients, heating over medium
		    <li>Heat until well mixed and dissolved</li>
		    <li>Add chicken and bring to a hard boil</li>
		    <li>Reduce heat and simmer for 20 minutes</li>
		    <li>Serve over hot rice and ENJOY.</li>
		</ol>
	</div>
</div>
